include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include cva_apps *.css
recursive-include cva_apps *.csv
recursive-include cva_apps *.html
recursive-include cva_apps *.ico
recursive-include cva_apps *.js
recursive-include cva_apps *.json
recursive-include cva_apps *.md
recursive-include cva_apps *.png
recursive-include cva_apps *.py
recursive-include cva_apps *.svg
recursive-include cva_apps *.txt
recursive-exclude cva_apps *.pyc